.login-section {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
}

.login-container {
   width: min(380px, 100%);
   border-radius: var(--outer-radius);
   border: 1px solid black;
   box-shadow: var(--box-shadow1);
   padding: 25px 20px;
}