.navbar-container {
   width: 100%;
   background: var(--secondary-color);
   height: 100vh;
   overflow-y: scroll;
   box-shadow: 2px 0px 4px #0002;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   position: sticky;
   top: 0px;
}

.navbar-container::-webkit-scrollbar {
   display: none;
}

.navbar-container .logo {
   width: 80px;
}

.navbar-container .nav-links {
   padding: 0px;
}

.navbar-container .nav-links li a {
   width: 100%;
   display: inline-block !important;
   padding: 5px 20px 5px 20px;
   cursor: pointer;
   text-decoration: none;
   color: var(--black);
}

.navbar-container .nav-links li a:hover {
   color: var(--primary-color);
}

.navbar-container .nav-links li a.active {
   background: var(--tertiary-color);
   color: var(--primary-color);
}


.navbar-container .admin-wrapper {
   padding: 5px 0px;
   background: var(--tertiary-color);
}

.navbar-container .admin-wrapper img {
   width: 45px;
   height: 45px;
   border-radius: 50%;
   border: 1px solid #0007;
}

.navbar-container .admin-wrapper p {
   margin: 0px;
   margin-right: 20px;
}