.notification-container {
   position: fixed;
   bottom: 100px;
   left: 50%;
   transform: translateX(-50%);
   z-index: 60;
}

.notification {
   display: flex;
   align-items: center;
   padding: 0px 10px;
   border-radius: 10px;
   width: min-content;
   position: relative;
   min-width: max-content;
   position: absolute;
   left: 50%;
   transition-property: all;
   background: rgba(0, 0, 0, 0.864);
   color: var(--white);
}

.notification p {
   font-size: 14px;
   margin: 0px;
   padding: 0px;
}

.notification .close-icon {
   display: block;
   margin-left: 20px;
   margin-top: 0px;
   font-size: 20px;
   cursor: pointer;
}