/* Cities.css */
.city-container table {
   width: 100%;

}

.city-container th {
   background: var(--tertiary-color);
}

.city-container th,
.city-container td {
   padding: 10px;
   border-bottom: 1px solid #ccc;
}

.city-container .image-wrapper {
   width: 80px;
   height: 60px;
}

.city-container th:nth-child(2),
.city-container td:nth-child(2) {
   width: 25%;
}

.city-container th:nth-child(3),
.city-container td:nth-child(3) {
   width: 20%;
}

.city-container th:nth-child(4),
.city-container td:nth-child(4) {
   width: 20%;
}

.city-container th:nth-child(1),
.city-container td:nth-child(1) {
   width: auto;
}

.city-container .addcity-border td {
   border: 1px solid #0007;
   padding: 5px 20px;
}

.addcity-border td .form-input {
   margin-top: 0px;
}

.addcity-border label {
   margin-bottom: 5px;
}