/* .swiper-1 {
	background: red;
} */
.swiper-1 .swiper {
	width: 100%;
}
.swiper-1 .swiper-slide {
	width: 100%;
	aspect-ratio: 16/8;
	position: relative;
	overflow: hidden;
	border-radius: 15px;
}
.swiper-1 .swiper-slide img {
	position: absolute;
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
}

.swiper-thumbs .swiper-slide {
	border-radius: 10px;
	overflow: hidden;
}

.swiper-2 .swiper {
	width: 100%;
}
.swiper-2 .swiper-slide {
	width: 100%;
	border-radius: 15px;
	overflow: hidden;
}
.swiper-2 img {
	border-radius: 15px;
	overflow: hidden;
	aspect-ratio: 16/11;
}
.swiper-2 .swiper-pagination {
	position: relative;
	/* background: red; */
	display: flex;
	margin-top: 15px;
	justify-content: center;
}
.swiper-2 .swiper-pagination-bullet {
	width: 8px;
	height: 8px;
	border-radius: 8px;
	transition: all 0.3s ease-in;
}
.swiper-2 .swiper-pagination-bullet-active {
	width: 13px;
	background: var(--primary-color);
}
@keyframes floating {
	0% {
		transform: translateY(0) rotate(178deg);
	}
	50% {
		transform: translateY(5px) rotate(180deg);
	}
	100% {
		transform: translateY(0) rotate(182deg);
	}
}

.floating {
	animation: floating 2s ease-in-out infinite;
}

.btn-3 {
	display: flex;
	padding: 6px 15px;
	gap: 0.4rem;
	font-weight: 600;
	border-radius: 15px;
	cursor: pointer;
	text-shadow: 1px 1px 1.5px rgb(136 0 136 / 50%);
	background: linear-gradient(15deg, rgb(100, 97, 174), rgb(142, 109, 192), rgb(199, 121, 211), rgb(172, 115, 202), rgb(142, 109, 192), rgb(100, 97, 174)) no-repeat;
	background-size: 300%;
	background-position: left center;
	transition: background 0.3s ease;
	color: #fff;
}
.btn-3.text-center {
	justify-content: center;
}

.btn-3:hover {
	background-size: 320%;
	background-position: right center;
}

.btn-3:hover svg {
	fill: #fff;
}

.btn-3 svg {
	width: 20px;
	fill: white;
	transition: 0.3s ease;
}

/* /css for links hover in header */
.anm-link a {
	display: inline-block;
	position: relative;
}

.anm-link a:before,
.anm-link a:after {
	content: "";
	border-bottom: solid 2.5px var(--secondary-color);
	position: absolute;
	bottom: 0;
	width: 0;
}

.anm-link a:before {
	left: 0;
}
.anm-link a:after {
	right: 0;
}

.anm-link a:hover:before,
.anm-link a:hover:after {
	width: 50%;
}

.anm-link a:before,
.anm-link a:after {
	-webkit-transition: all 0.2s ease;
	transition: all 0.3s ease;
}
.anm-link a.active:before,
.anm-link a.active:after {
	width: 50% !important;
}

/* css for hte hamburget */
/* From Uiverse.io by talhabangyal */
.hamburger {
	cursor: pointer;
	position: relative;
	z-index: 100;
}

.hamburger input {
	display: none;
}

.hamburger svg {
	height: 40px;
	transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
	fill: none;
	stroke: var(--dark-color);
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 2.5px;
	transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
	stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
	transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
	stroke-dasharray: 20 300;
	stroke-dashoffset: -32.42;
}

/* css for the header */
.header select {
	border: none;
	background: none;
	box-shadow: none;
	outline: none !important;
	color: var(--primary-color);
	font-weight: 500;
}

.header .input-wrapper {
	margin: 0;
	border: none;
}
.header .input-wrapper label {
	display: none;
}

.header * {
	transition: all 0.3s ease-in;
}

/* location card aniamtion  */
.location-card,
.selected-1 {
	transition: all 0.3s ease-in-out;
}
.location-card img {
	transition: all 0.3s ease-in-out;
}

.location-card:hover,
.selected-1:hover {
	/* transform: translateY(-5px); */
	box-shadow: 2px 2px 9px #21053043;
}
.location-card:hover img {
	scale: 1.05;
}

.selected-1.selected {
	position: relative;
	overflow: visible;
	background: var(--primary-gradient);
	transition: all 0.3s ease-in-out;
	box-shadow: 2px 2px 9px #21053043;
}

.selected-1.selected::after {
	content: url("./assets/tick-mark.svg");
	padding-top: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: -8px;
	top: -8px;
	width: 25px;
	height: 25px;
	background: var(--primary-gradient);
	border-radius: 50px;
	transition: all 0.3s ease-in-out;
}

/* From Uiverse.io by vinodjangid07 */
.faq-button {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: none;
	background-color: #ffe53b;
	background-image: var(--primary-gradient);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.151);
	position: relative;
}
.faq-button svg {
	height: 15px;
	fill: white;
}
.faq-button:hover svg {
	animation: jello-vertical 0.7s both;
}
@keyframes jello-vertical {
	0% {
		transform: scale3d(1, 1, 1);
	}
	30% {
		transform: scale3d(0.75, 1.25, 1);
	}
	40% {
		transform: scale3d(1.25, 0.75, 1);
	}
	50% {
		transform: scale3d(0.85, 1.15, 1);
	}
	65% {
		transform: scale3d(1.05, 0.95, 1);
	}
	75% {
		transform: scale3d(0.95, 1.05, 1);
	}
	100% {
		transform: scale3d(1, 1, 1);
	}
}

.tooltip {
	position: absolute;
	top: -20px;
	opacity: 0;
	background-color: #ffe53b;
	background: white;
	color: var(--dark-color);
	padding: 2px 5px;
	border-radius: 5px;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
	transition-duration: 0.2s;
	pointer-events: none;
	letter-spacing: 0.5px;
	font-size: 14px;
	white-space: nowrap;
	box-shadow: 1px 2px 4px rgba(45, 45, 45, 0.3);
}

.tooltip::before {
	position: absolute;
	content: "";
	width: 10px;
	height: 10px;
	background-color: white;
	background-size: 1000%;
	background-position: center;
	transform: rotate(45deg);
	bottom: -15%;
	transition-duration: 0.3s;
	box-shadow: 1px 2px 4px rgba(45, 45, 45, 0.3);
}

.faq-button:hover .tooltip {
	top: -35px;
	opacity: 1;
	transition-duration: 0.3s;
}

/* css for custom scroll bar  */

.custom-scrollbar::-webkit-scrollbar {
	width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: #ccc;
	border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background-color: #555;
}

.rating .star {
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	background: #f7b704;
}

/* ActivationSuccess.css */

.circle {
	stroke-dashoffset: 240;
	animation: path 1.5s ease-in-out;
	transform-origin: center center;
}
.circle-fill {
	animation: radius 2s ease-in-out;
	transform-origin: center center;
}
.tick-mark {
	stroke-dashoffset: -135;
	animation: tick-mark 2s ease-in-out;
	transform-origin: center center;
}
@keyframes path {
	0% {
		stroke-dasharray: 240, 240;
		transform: scale(1);
	}
	50%,
	75% {
		stroke-dasharray: 240, 0;
		transform: scale(1.1);
	}

	100% {
		stroke-dasharray: 240, 0;
		transform: scale(1);
	}
}
@keyframes radius {
	0% {
		transform: scale(1);
		r: 38;
	}
	50% {
		r: 38;
		transform: scale(0.9);
	}
	75% {
		r: 0;
		transform: scale(0.8);
	}
	100% {
		r: 0;
		transform: scale(1);
	}
}
@keyframes tick-mark {
	0% {
		transform: scale(1);
		stroke-dasharray: 135, 135;
	}
	50% {
		transform: scale(1.2);
		stroke-dasharray: 135, 135;
	}
	75% {
		transform: scale(0.8);
		stroke-dasharray: 135, 135;
	}
	100% {
		transform: scale(1);
		stroke-dasharray: 135, 0;
	}
}

/* front end button design  */

.btn-4 {
	padding: 7px 32px;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
	border-radius: 40px;
	color: #333;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.btn-dark {
	background: transparent;
	border: 1px solid #333;
	color: #333;
	position: relative;
	overflow: hidden;
}

.btn-white {
	background: transparent;
	border: 1px solid #fff;
	color: #fff;
	position: relative;
	overflow: hidden;
}

.btn-dark::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 100%;
	background-color: #333;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
	z-index: -1;
	border-radius: 40px;
}
.btn-white::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 100%;
	background-color: #fff;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
	z-index: -1;
	border-radius: 40px;
}

.btn-dark:hover::before {
	width: 100%;
	right: auto;
	left: 0;
}
.btn-white:hover::before {
	width: 100%;
	right: auto;
	left: 0;
}
.btn-white:hover {
	color: #333;
}
.btn-dark:hover {
	color: #fff;
}

/* css for the gallery */

.fancybox__toolbar .fancybox__toolbar__column.is-right .f-button {
	background: rgba(255, 255, 255, 0.6) !important;
}

/* css for the logoubutton  */
.Btn {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 30px;
	height: 30px;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	transition-duration: 0.3s;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
	background-color: rgb(255, 65, 65);
}

.sign {
	width: 100%;
	transition-duration: 0.3s;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sign svg {
	width: 17px;
}

.sign svg path {
	fill: white;
}

.text {
	position: absolute;
	right: 0%;
	width: 0%;
	opacity: 0;
	color: white;
	font-weight: 500;
	transition-duration: 0.3s;
}

.Btn:hover {
	width: 110px;
	border-radius: 40px;
	transition-duration: 0.3s;
}

.Btn:hover .sign {
	width: 30%;
	transition-duration: 0.3s;
	padding-left: 20px;
}

.Btn:hover .text {
	opacity: 1;
	width: 70%;
	transition-duration: 0.3s;
	padding-right: 10px;
}

.Btn:active {
	transform: translate(2px, 2px);
}



/* WhatsApp Icon Styles */
.whatsapp-icon {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 40px;
    right: 30px;
    z-index: 200;
    animation: pulse 1.5s ease-out infinite;
    border-radius: 50%;
    /* background-color: #25d366; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;

}
/* .whatsapp-icon a{
	display: block;
	width:auto;
	margin:auto;
} */
/* Icon Image */
.whatsapp-icon img {
    width: 90%;
    height: 90%;
	margin-left:2px;
}

/* Pulse Effect */
.btn-whatsapp-pulse::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55px;
    height: 55px;
    border: 5px solid #25d366;
    border-radius: 50%;
    opacity: 0.75;
    animation: pulse-border 1.5s ease-out infinite;
}

/* Keyframes for Pulse */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes pulse-border {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.75;
    }
    100% {
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 0;
    }
}
