@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
		--primary-color: rgb(100, 97, 174);
		--secondary-color: rgb(199, 121, 211);
		--third-color: rgb(213, 208, 255);
		--fourth-color: rgb(255, 224, 252);

		--bright-color: #faf8fc;
		--dark-color: rgb(45, 45, 45);

		--primary-gradient: linear-gradient(to right, rgb(100, 97, 174) 0%, rgb(199, 121, 211) 100%);
	}
	* {
		@apply m-0 p-0 box-border text-sm font-normal font-author text-zinc-800;
	}
	h3 {
		@apply text-lg font-medium;
	}
	h2 {
		@apply text-xl font-medium;
	}
	h4 {
		@apply text-md font-medium;
	}
	h5 {
		@apply text-sm font-medium;
	}
	input::placeholder {
		@apply text-xs;
	}
	nav * {
		@apply font-medium;
	}
	span svg {
		color: inherit;
		fill: inherit;
	}
	.error {
		@apply text-red-400 text-xs;
	}
	.outer-box {
		@apply mt-4 p-4 bg-white rounded-lg;
		box-shadow: var(--box-shadow);
	}
	.btn {
		@apply px-4 text-sm font-medium text-white bg-logo rounded-md;
	}
	.btn.btn-1 {
		@apply w-full py-1;
	}
	.main-table {
		@apply mt-5 w-full border-collapse rounded-t-md overflow-hidden;
	}
	.main-table thead {
		@apply rounded-md bg-logo overflow-hidden;
	}
	.main-table thead * {
		@apply text-white;
	}
	.main-table td,
	.main-table th {
		@apply px-2 py-1;
	}
	.main-table tr {
		@apply border border-gray-300;
	}
	.main-table th {
		@apply py-2 text-left;
	}

	.input-wrapper {
		@apply mb-4;
	}
	.input-wrapper label {
		@apply block mb-1;
	}
	.input-wrapper input,
	.input-wrapper select,
	.input-wrapper textarea {
		@apply w-full border border-gray-400 py-[2px] px-2 rounded-md focus:outline focus:outline-blue-200;
	}
	.input-wrapper input[type="checkbox"] {
		@apply w-4 h-4;
	}

	.input-wrapper select {
		@apply py-[5px];
	}
	.input-wrapper.checkbox input {
		@apply w-5 h-5 rounded-md outline-none;
	}
	.input-wrapper.checkbox label {
		@apply mb-0;
	}
	.mb-0-i {
		margin-bottom: 0px;
	}
	.filters .input-wrapper {
		@apply flex gap-2 items-center;
	}
	.filters label {
		@apply whitespace-nowrap;
	}
	.filters .input-wrapper {
		@apply mb-1;
	}
	.customer-details .input-wrapper {
		@apply mb-2;
	}

	/* css starts frin gere  for the frontend */
	main {
		@apply w-full min-h-screen;
		background: linear-gradient(to right, rgb(213, 208, 255) 0%, rgb(255, 224, 252) 100%);
	}
	.bg-gradient-primary {
		background: var(--primary-gradient);
	}
}
