@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --primary-font: "Courgette", cursive;
   /* --secondary-font: "Alice", serif; */
   --secondary-font: "Poppins", serif;

   --primary-color: #42a4d9;
   --secondary-color: #f7f6f9;
   --tertiary-color: #edeeef;
   --fourth-color: rgb(255, 114, 109);

   --white: #f5f5f5;
   --black: #333;

   --light-white: #eee;
   --light-black: #0007;

   --box-shadow1: 0 0px 3px #0005;
   --outer-radius: 12px;
   --inner-radius: 8px;
}

a {
   text-decoration: none;
   color: var(--primary-color);
}

body {
   width: 100%;
   overflow-x: hidden !important;
   color: var(--black);
   background: #f5f0ef;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: var(--primary-font);
   font-weight: 400;
   font-style: normal;
   color: var(--fourth-color);
}

h1 {
   font-size: clamp(28px, 3vw, 35px);
}

h2 {
   font-size: clamp(29.4px, 3.5vw, 47px);
}

h3 {
   font-size: clamp(17.92px, 2vw, 25.88px);
}

h4 {
   font-size: clamp(14.34px, 1.75vw, 21.5px);
}

h5 {
   font-size: clamp(11.47px, 1.5vw, 17.2px);
}

h6 {
   font-size: clamp(9.18px, 1vw, 13.8px);
}

p,
li,
a,
span,
div {
   font-family: var(--secondary-font);
   font-weight: 500;
   font-style: normal;
   color: inherit;
   font-size: 15px;
}

ul {
   list-style-type: none;
}

a {
   text-decoration: none;
}

a:hover {
   color: var(--primary-color);
}

input {
   outline: none;
}

button {
   border-radius: 10px !important;
   border: none;
   cursor: pointer;
   font-weight: 500;
   letter-spacing: 1px;
}

button.btn-1 {
   width: 50%;
   height: 35px;
}

button.btn-2 {
   padding: 7px 25px;
}

button.primary {
   background-color: var(--primary-color);
   color: white;
}

button.secondary {
   background-color: var(--secondary-color);
}

button.tertiary {
   background: var(--fourth-color);
   color: white;
}


button.tertiary:hover {
   background-color: rgb(255, 73, 66);
}

/* ==============================================
               custom Classes
============================================== */
.pfs-1 {
   font-size: clamp(13px, 1.25vw, 16px);
}

.pfs-2 {
   font-size: clamp(20px, 2vw, 22px);
}

.sec-padding {
   padding: 70px 0;
}

.sec-title {
   line-height: 65px;
}


.sec-title span {
   font-family: inherit;
   color: var(--primary-color);
   font-size: inherit;
}

.image-wrapper {
   width: 100%;
   height: 100%;
   position: relative;
}

.image-wrapper img.cover {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
}

.image-wrapper img.contain {
   width: 100%;
}

.background-cover {
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.background-contain {
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

.background-contain {
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
}

.background-overlay {
   position: relative;
}

.background-overlay::before {
   content: "";
   width: 100%;
   height: 100%;
   position: absolute;
   left: 0;
   top: 0;
   background: radial-gradient(at center, #0003, #0004);
}

.background-overlay>div {
   position: relative;
   z-index: 3;
}

.p-relative {
   position: relative;
}

/* ==============================
css for the backend Container 
================================= */

.backend-container {
   padding: 20px 30px
}

.backend-container .icon {
   font-size: 25px;
   margin-right: 15px;
   cursor: pointer;
}

.backend-container .edit-icon {
   color: var(--primary-color)
}

.backend-container .delete-icon {
   color: var(--fourth-color);
}

.backend-container .toggle-switch {
   position: relative;
   display: inline-block;
   width: 50px;
   height: 25px;
   cursor: pointer;
}

.backend-container .toggle-switch-background {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: var(--fourth-color);
   border-radius: 20px;
   transition: background-color 0.3s ease-in-out;
}

.backend-container .toggle-switch-handle {
   position: absolute;
   top: 3px;
   left: 5px;
   width: 18px;
   height: 18px;
   background-color: #fff;
   border-radius: 50%;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
   transition: transform 0.3s ease-in-out;
}

.toggle-switch::before {
   content: "";
   position: absolute;
   top: -25px;
   right: -35px;
   font-size: 12px;
   font-weight: bold;
   text-shadow: 1px 1px #fff;
   transition: color 0.3s ease-in-out;
}

.toggle-switch.active+.toggle-switch-handle {
   transform: translateX(45px);
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 0 3px #05c46b;
}

.toggle-switch.active .toggle-switch-background {
   background-color: #05c46b;
   box-shadow: inset 0 0 0 2px #04b360;
}

.toggle-switch.active .toggle-switch-background .toggle-switch-handle {
   transform: translateX(24px);
}

/* ======================================================
                  css for the add details
======================================================= */

.backend-container .add-container {
   width: min(100%, 650px);
}

.backend-container .add-container label {
   font-family: var(--primary-font);
   font-size: clamp(14.34px, 1.55vw, 19.5px);
   margin-bottom: 8px;
}


.backend-container .error {
   font-size: 14px;
   color: var(--fourth-color);
   margin-top: 0px;
}

.backend-container .add-container .form-input {
   margin-bottom: 15px;
}